@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("../public/fonts/Shabnam-FD.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("../public/fonts/Shabnam-Medium-FD.ttf") format("ttf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Shabnam";
  src: url("../public/fonts/Shabnam-Bold-FD.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ShabnamWOL";
  src: url("../public/fonts/Shabnam-FD-WOL.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Shabnam";
}
