@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("/fonts/Shabnam-Medium-FD.ttf") format("ttf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Shabnam";
  src: url("/fonts/Shabnam-Bold-FD.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ShabnamWOL";
  src: url("/fonts/Shabnam-FD-WOL.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Customizing scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

body {
  font-family: var(--font-shabnam), sans-serif !important;
}

#nprogress .bar {
  background: #ffc106 !important;
}
